* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
}

body {
  background: lightblue;
  font-style: Helvetica, Arial;
}

h1 {
  margin: 20px 10%;
  font-size: 1.5rem;
}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

.user-name {
  color: rgb(10, 0, 144);
  font-size: 1.1rem;
  font-weight: bold;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
  background: lightblue;
  font-size: 1rem;
}

#messages li:nth-child(odd) {
  background: rgb(192, 239, 255);
}

#messages li:nth-last-child(1) {
  margin-bottom: 68px;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 40px;
  }

  h1 {
    font-size: .7rem;
  }

  form input {
    width: 69%;
  }
  
  form button {
    width: 30%;
  }
}
